@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.bad-row .x-grid-cell { 
	color: #cccccc;
    //background-color: #ffe2e2; 
    //color: #900; 
} 
 
.good-row .x-grid-cell { 
	color: #000000;
    //background-color: #e2ffe2; 
    //color: #090; 
}
